html, * {
    box-sizing: border-box;
    }
*, *:before, *:after {
    box-sizing: inherit;
    }

.clearfix:before,
.clearfix:after {
    display: table;

    content: " ";
    }

.clearfix:after {
    clear: both;
    }
.clearfix {
    zoom: 1; /* ie 6/7 */
    }

.contenedor {}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    }
.viewPort {
    position: relative;
    top:0; left:0;

    overflow: hidden;

    max-width:1024px;
    min-height: 490px;
    max-height: 490px;

    border: 1px solid black;
    }

.contCanales {
    position: absolute;
    z-index: 5;
    top:35px; left:0;

    max-width:70px;

    text-align: center;
    }
.itemCanal {
    width: 70px;
    height:65px;
    padding: 5px;

    cursor: pointer;

    border: 1px solid #333;
    background-color: #333;
    }
.contProgramas {
    position: absolute;
    top:35px; left:0;

    display:block;
    overflow: visible;

    min-width: 5000px;
    min-height: 455px;
    }
.lineaCanal {
    position:relative;

    display: block;
    overflow: visible;

    width: auto;
    height: 65px;
    max-height: 65px;
    }
.itemPrograma {
    font-size: 10px;

    position:absolute;
    top:0; left:0;

    display: inline-block;
    overflow: hidden;

    min-width: 15px;
    height: 65px;
    margin:0; padding:5px;

    cursor: pointer;

    border: 1px solid #AAA;
    background-color: #EEE;
    background-image: -webkit-linear-gradient(top, #CCC, #EEE);
    background-image:         linear-gradient(to bottom, #CCC, #EEE);
    -webkit-box-shadow: 0 0 2px 0 #000000;
            box-shadow: 0 0 2px 0 #000000;
    }
.itemPrograma span {
    font-family: 'Roboto Condensed', sans-serif;

    margin:0; padding:0;
    }
.itemPrograma a {
    text-decoration: none;
    }
.itemPrograma h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;

    overflow: hidden;

    max-height: 2.3em;
    margin:0; padding:0;

    color: #000;
    }
.itemPrograma p {
    font-style: italic;

    margin:0; padding:0;
    }
.itemPrograma p.duracion {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    }

.barraHorizontalHoras {
    position: relative;
    z-index:8;
    top:0; right:0;left:0;

    display: block;

    min-width: 5000px;
    height:35px;

    background-color: #333;
    background-image: -webkit-linear-gradient(top, #111, #333);
    background-image:         linear-gradient(to bottom, #111, #333);
    }
.barraHoras {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;

    position: relative;
    top:0; left:0;

    display:block;

    min-width: 5000px;
    height: 35px;

    color:#CCC;
    }
.barraHoras .itemHoras {
    position:absolute;
    top:0; left:0;

    display: inline-block;

    width:180px;
    height:25px;
    margin:10px 0 0 0;
    padding:5px;

    cursor: pointer;

    border-left:1px solid #CCC;
    }
.barraHoras .itemDia {
    position: absolute;
    top:0; left:0;

    display:inline-block;

    width:300px;
    max-width:300px;
    height:20px;
    padding: 0 0 0 5px;
    }
.horaActual {
    position:absolute;
    z-index: 9;
    top:25px; left:0;

    display:none;

    width:20px;
    height: 465px;
    }
.horaActual .top {
    width:0; height:0;

    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent rgba(255,0,0,.5) transparent;
    }
.horaActual .mid {
    height: 445px;
    padding:0;
    padding-top:200px;

    background-color: rgba(255,0,0,.5);
    }
.horaActual .mid p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;

    margin:0; padding:0;

    transform: rotate(-90deg);

    color: #EEE;
    }
.horaActual .bott {
    width:0; height:0;

    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: rgba(255,0,0,.5) transparent transparent transparent;
    }

.fichaPrograma {
    position:absolute;
    z-index:10;
    top: 35px; right:-300px;

    width:300px; height:455px;
    padding: 55px 15px 15px;

    background-color: #333;
    background-image: -webkit-linear-gradient(top, #333, #111);
    background-image:         linear-gradient(to bottom, #333, #111);
    }
.fichaPrograma .contenido {
    width:100%; height:100%;

    border:1px dotted red;
    }
.fichaPrograma .cierra {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;

    position:absolute;
    top: 15px; right:15px;

    padding:3px 5px;

    cursor: pointer;

    color:#666;
    border-radius: 3px;
    background-color: #EEE;
    background-image: -webkit-linear-gradient(top, #CCC, #EEE);
    background-image:         linear-gradient(to bottom, #CCC, #EEE);
    }

.selectorDias {
    display:block;

    width: 1024px;
    }
.selectorDias ul {
    display:inline-block;

    margin:0;
    margin-top: 5px;padding:0;

    background-color: #333;
    background-image: -webkit-linear-gradient(top, #111, #333);
    background-image:         linear-gradient(to bottom, #111, #333);
    }
.selectorDias li {
    display:inline-block;

    padding:3px 10px;

    list-style: none;

    cursor: pointer;

    border-right: 1px solid #CCC;
    }
.selectorDias li.activo,
        .selectorDias li:hover {
    background-color: #333;
    }
.selectorDias li:last-child {
    margin-right:0;

    border-right:none;
    }
.selectorDias li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;

    text-decoration: none;

    color:#CCC;
    }

.selectorCategorias {
    display:block;

    width: 1024px;
    margin-bottom: 5px;

    text-align: right;
    }
.selectorCategorias ul {
    display:block;

    margin:0; padding:0;
    }
.selectorCategorias ul li {
    display:inline-block;

    margin-left: 5px;

    list-style: none;
    }
.selectorCategorias ul li button {
    margin:0;
    padding:3px 5px;

    cursor:pointer;
    transition: all 300ms ease;

    border:none;
    outline: none;
    background-color: #CCC;
    }
.selectorCategorias ul li button.activo:before {
    /*content : '* ';*/
    }

.selectorCategorias li.mCine button.activo {background-color: #dca7a7;}
.selectorCategorias li.mConcursos button.activo {background-color: #eddca7;}
.selectorCategorias li.mCorazon button.activo {background-color: #edb9ca;}
.selectorCategorias li.mDeportes button.activo {background-color: #a7dca7;}
.selectorCategorias li.mInformativos button.activo {background-color: #b9b9ed;}
.selectorCategorias li.mMagazines button.activo {background-color: #dca7dc;}
.selectorCategorias li.mSeries button.activo {background-color: #edcaa7;}

/** Decoración itemPrograma según categoría **/
.contProgramas.mCine .catCine {
    padding:3px;

    border: 3px solid #ee9595;
    background-color: #dca7a7;
    background-image: -webkit-linear-gradient(top, #dca7a7, #cab9b9,);
    background-image:         linear-gradient(to bottom, #dca7a7, #cab9b9);
    -webkit-box-shadow: 0 0 4px 0 #000000;
            box-shadow: 0 0 4px 0 #000000;
    }
.contProgramas.mConcursos .catConcursos {
    padding:3px;

    border: 3px solid #fde497;
    background-color: #eddca7;
    background-image: -webkit-linear-gradient(top, #eddca7, #ddd4b7,);
    background-image:         linear-gradient(to bottom, #eddca7, #ddd4b7);
    -webkit-box-shadow: 0 0 4px 0 #000000;
            box-shadow: 0 0 4px 0 #000000;
    }
.contProgramas.mCorazon .catCorazon {
    padding:3px;

    border: 3px solid #faacc5;
    background-color: #edb9ca;
    background-image: -webkit-linear-gradient(top, #edb9ca, #e0c6cf,);
    background-image:         linear-gradient(to bottom, #edb9ca, #e0c6cf);
    -webkit-box-shadow: 0 0 4px 0 #000000;
            box-shadow: 0 0 4px 0 #000000;
    }
.contProgramas.mDeportes .catDeportes {
    padding:3px;

    border: 3px solid #95ee95;
    background-color: #a7dca7;
    background-image: -webkit-linear-gradient(top, #a7dca7, #b9cab9,);
    background-image:         linear-gradient(to bottom, #a7dca7, #b9cab9);
    -webkit-box-shadow: 0 0 4px 0 #000000;
            box-shadow: 0 0 4px 0 #000000;
    }
.contProgramas.mInformativos .catInformativos {
    padding:3px;

    border: 3px solid #acacfa;
    background-color: #b9b9ed;
    background-image: -webkit-linear-gradient(top, #b9b9ed, #c6c6e0,);
    background-image:         linear-gradient(to bottom, #b9b9ed, #c6c6e0);
    -webkit-box-shadow: 0 0 4px 0 #000000;
            box-shadow: 0 0 4px 0 #000000;
    }
.contProgramas.mMagazines .catMagazines {
    padding:3px;

    border: 3px solid #ee95ee;
    background-color: #dca7dc;
    background-image: -webkit-linear-gradient(top, #dca7dc, #cab9ca,);
    background-image:         linear-gradient(to bottom, #dca7dc, #cab9ca);
    -webkit-box-shadow: 0 0 4px 0 #000000;
            box-shadow: 0 0 4px 0 #000000;
    }
.contProgramas.mSeries .catSeries {
    padding:3px;

    border: 3px solid #fdca97;
    background-color: #edcaa7;
    background-image: -webkit-linear-gradient(top, #edcaa7, #ddcab7,);
    background-image:         linear-gradient(to bottom, #edcaa7, #ddcab7);
    -webkit-box-shadow: 0 0 4px 0 #000000;
            box-shadow: 0 0 4px 0 #000000;
    }