@import "compass";
@import "compass/reset";
@import "compass/css3/animation";
@import "fontawesome/font-awesome";
@import "nanoscroller";

//colors
$color_0: black;
$color_1: #333;
$color_2: #aaa;
$color_3: #eee;
$color_4: #ccc;
$color_7: #111;
$color_9: red;
$color_10: #666;

$color_fondo: #454545;
$color_fondoclaro: #707070;
$color_lineas_parrilla: #808080;

$color_cine: #ec2b00;
$color_concursos: #f3ae02;
$color_corazon: #bd3075;
$color_deportes: #009301;
$color_informativos: #4eb9ff;
$color_magazines: #a66cd5;
$color_series: #17aa95;

$color_highlight: #e78d00;

//fonts
$font_0: Georgia;
$font_1: Times New Roman;
$font_2: Times;
$font_3: serif;
$font_4: Roboto Condensed;
$font_5: sans-serif;

$fuentes-titulos: $font_0, $font_1, $font_2, $font_3;
$fuentes-cuerpo: Arial, $font_5;
$fuentes-peq: $font_4, $font_5;

$ancho-contenedor: 1029px;
$ancho_max_viewport: 1023px;
$alto_max_viewport: 600px;
$alto_canal: 90px;
$ancho_barra_canales: 150px;
$alto_barrahoras: 60px;
$pixelsPorHora: 320px; // debe ser múltiplo de 6
$ancho_dia24: $pixelsPorHora * 24;

html {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: inherit;
	&:before {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: inherit;
	}
	&:after {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: inherit;
	}
}
body {
	font-family: $fuentes-cuerpo;
	font-weight: normal;
	padding:15px;
}
h1 {
	font-family: $fuentes-titulos;
	font-weight: normal;
	font-size: 32px;
}

.contenedorGuiaTv {
	position:relative;
	display:block;
	width: $ancho-contenedor;
	background-color: $color_fondo;

	ul {margin:0;padding:0;border:0;}
	li {margin:0; padding:0; border:0;}
	.clearfix {
		zoom: 1;
		&:before {
			display: table;
			content: " ";
		}
		&:after {
			display: table;
			content: " ";
			clear: both;
		}
	}
	button {
		font-family: $fuentes-cuerpo;
		font-size: 12px;
		padding: 3px 5px;
		color: white;
		border: 1px solid lighten($color_fondoclaro,20);
		background-color: $color_fondoclaro;
		@include border-radius(5px);
		cursor: pointer;

		&:hover {
			color: darken($color_fondoclaro,20);
			background-color: white;
			border: 1px solid darken($color_fondoclaro,20);
		}
	}
	.contenidoPie {
		display:block;
		width:100%;
		background-color: $color_fondo;
		padding: 3px;
	}
}



// Preloader general para toda la parrilla
.preload-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 100;
	.preload {
	    position:relative;
	    width:30px;
	    height:30px;
	    background:rgba(0,0,0,.1);
	    border-radius:50%;
	    @include animation(preload 1s infinite linear);
	}
	.preload:after {
	    position:absolute;
	    width:50px;
	    height:50px;
	    border-top:5px solid rgba(0,0,0,.1);
	    border-bottom:5px solid rgba(0,0,0,.1);
	    border-left:5px solid transparent;
	    border-right:5px solid transparent;
	    border-radius:50%;
	    content:'';
	    top:-10px;
	    left:-10px;
	    @include animation(preload_after 1s infinite linear);
	}
}
@include keyframes(preload) {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);background:rgba(0,0,0,.2)}
    100% {transform: rotate(360deg);}
}
@include keyframes(preload_after) {
    0% {border-top:5px solid rgba(0,0,0,.1);border-bottom:5px solid rgba(0,0,0,.1);}
    50% {border-top:5px solid rgba(0,0,0,.2);border-bottom:5px solid rgba(0,0,0,.2);}
    100% {border-top:5px solid rgba(0,0,0,.1);border-bottom:5px solid rgba(0,0,0,.1);}
}

%pastillaGrisClaro {
	display:inline-block;
	padding: 16px;
	font-family: $fuentes-peq;
	font-size: 11px;
	text-align: center;
	color: white;
	background-color:$color_fondoclaro;
	@include box-shadow(rgba(black, 0.6) 0 4px 16px);
}


// ViewPort general de la parrilla
.viewPort {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	max-width: $ancho_max_viewport;
	min-height: $alto_max_viewport;
	max-height: $alto_max_viewport;
	margin: 0 auto;

	background-color: $color_fondo;
	-webkit-background-size: 12px 12px;
	-moz-background-size: 12px 12px;
	background-size: 12px 12px;

	background-image: linear-gradient(-45deg, lighten($color_fondo,20) 25%, transparent 25%, transparent 50%, lighten($color_fondo,20) 50%, lighten($color_fondo,20) 75%, transparent 75%, transparent);
}
// Contenedor de Canales
.contCanales {
	position: absolute;
	z-index: 30;
	top: $alto_barrahoras;
	left: 0;
	width: $ancho_barra_canales;
	text-align: center;
	background-color: white;

	.itemCanal {
		width: $ancho_barra_canales;
		height: $alto_canal;
		padding: 20px;
		cursor: pointer;
		border-right: 1px solid $color_lineas_parrilla;
		border-bottom: 1px solid $color_lineas_parrilla;
	}
}
// Contenedor de Programas
.contProgramas {
	position: absolute;
	top: $alto_barrahoras;
	left: 0;
	display: block;
	overflow: visible;
	min-width: 5000px;
	min-height: 455px;
	z-index: 0;
	.lineaCanal {
		position: relative;
		display: block;
		overflow: visible;
		width: $ancho_dia24;
		height: $alto_canal;
		max-height: $alto_canal;
	}
	&.mCine .catCine {
		border-bottom: 6px solid $color_cine;
	}
	&.mConcursos .catConcursos {
		border-bottom: 6px solid $color_concursos;
	}
	&.mCorazon .catCorazon {
		border-bottom: 6px solid $color_corazon;
	}
	&.mDeportes .catDeportes {
		border-bottom: 6px solid $color_deportes;
	}
	&.mInformativos .catInformativos {
		border-bottom: 6px solid $color_informativos;
	}
	&.mMagazines .catMagazines {
		border-bottom: 6px solid $color_magazines;
	}
	&.mSeries .catSeries {
		border-bottom: 6px solid $color_series;
	}
}
.itemPrograma {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	min-width: 15px;
	height: $alto_canal;
	margin: 0; padding: 0;
	overflow: hidden;
	cursor: pointer;
	border-left:1px solid $color_lineas_parrilla;
	border-bottom:1px solid $color_lineas_parrilla;
	z-index:0;

	.mascara {
		position:absolute;
		top:0; left:0;
		z-index: 5;
		display:block;
		width: 100%;
		height: $alto_canal - 6;
		padding: 10px 5px;
		background-color: #FFF;
		text-align: center;
	}

	&:hover {
		box-shadow: 0;
		z-index:10;
		overflow: visible;

		.mascara {
			opacity: 0;
			display:none;
		}
	}

	.itemProgramaInner {
		position: relative;
		display: block;
		overflow: hidden;
		font-size: 10px;
		height: $alto_canal;
		padding: 5px;
		width: auto;
		min-width: $pixelsPorHora;
		background-color: #FFF;
		line-height: 1.2em;
		transition: border-bottom 300ms ease;
		* {
			margin-bottom:3px;
			transition: all 300ms ease;
		}
		&:hover,
		&.activo {
			//box-shadow: 0 0 5px 0 #000;
			overflow: visible;
			background-color:#333;
			color:#FFF;
			h4 {
				display:block;
				color: #FFF;
			}
			.favorito,
			.alerta {
				color: rgba(255,255,255,0.8);
			}
		}
		&.catCine:hover {
			border-bottom: 6px solid $color_cine;
			.categoria {
				color: $color_cine;
			}
		}
		&.catConcursos:hover {
			border-bottom: 6px solid $color_concursos;
			.categoria {
				color: $color_concursos;
			}
		}
		&.catCorazon:hover {
			border-bottom: 6px solid $color_corazon;
			.categoria {
				color: $color_corazon;
			}
		}
		&.catDeportes:hover {
			border-bottom: 6px solid $color_deportes;
			.categoria {
				color: $color_deportes;
			}
		}
		&.catInformativos:hover {
			border-bottom: 6px solid $color_informativos;
			.categoria {
				color: $color_informativos;
			}
		}
		&.catMagazines:hover {
			border-bottom: 6px solid $color_magazines;
			.categoria {
				color: $color_magazines;
			}
		}
		&.catSeries:hover {
			border-bottom: 6px solid $color_series;
			.categoria {
				color: $color_series;
			}
		}

		.categoria,
		.duracion {
			display:block;
		}
		.categoria {
			font-size:11px;
			font-weight: bold;
			color: #666;
		}
		.duracion {
			font-size:12px;
			font-weight: bold;
		}
		a {
			text-decoration: none;
		}
		h4 {
			font-family: $fuentes-titulos;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.1;
			margin: 0 10px 0 0;
			padding: 0;
			color: #000;
		}
		p {
			font-style: italic;
			font-size: 12px;
			margin: 0;
			padding: 0;
		}
		.fecha {
			font-family: $font_4, $font_5;
			font-size: 12px;
			margin: 0;
			padding: 0;
		}
		span.favorito {
			display:inline-block;
			margin: 0 0 0 8px;
			height:18px;
			font-size: 18px;
			color: rgba(0,0,0,0.5);
		}
		span.alerta {
			display:inline-block;
			margin: 0 0 0 8px;
			height:18px;
			font-size: 18px;
			color: rgba(0,0,0,0.5);
		}
	}
}
.barraHorizontalHoras {
	display: block;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	z-index: 40;
	min-width: $ancho_dia24;
	height: $alto_barrahoras;
	background-color: $color_fondo;

	.barraHoras {
		font-family: $fuentes-peq;
		font-size: 12px;
		position: relative;
		top: 0;
		left: 0;
		display: block;
		min-width: 5000px;
		height: $alto_barrahoras;
		color: $color_fondoclaro;

		.itemHoras {
			position: absolute;
			top: $alto_barrahoras - 45;
			left: 0;
			display: inline-block;
			width: $pixelsPorHora;
			height: 45px;
			padding: 0 5px;
			cursor: pointer;
			border-left: 2px solid $color_fondoclaro;
			font-size: 14px;
			color: white;

			.itemMediasHoras {
				height: 35px;
				border-left: 1px solid $color_fondoclaro;
			}
		}
		.itemDia {
			position: absolute;
			top: $alto_barrahoras - 60;
			left: 0;
			display: inline-block;
			width: $pixelsPorHora;
			max-width: $pixelsPorHora;
			height: 20px;
			padding: 0 0 0 5px;
		}
	}
	.iconosHoras {
		display:inline-block;
		position: absolute;
		top: 10px;
		left: $ancho-contenedor - 70px;
		text-align: right;
		z-index:10;

		div {
			display: inline-block;
			float:left;
			text-align: center;
			width: 30px;
			height: 45px;
			margin-right: 5px;
			padding:18px 5px;
			background-color: white;
			cursor: pointer;

			&:hover {
				background-color: $color_highlight;
				color: white;
			}
		}

	}
}
.horaActual {
	position: absolute;
	top: $alto_barrahoras - 18;
	left: 0;
	display: none;
	height: $alto_max_viewport;
	z-index: 50;

	p {
		text-align: center;
		width:auto;
		font-family: $fuentes-peq;
		font-size: 12px;
		color: white;
		background-color: $color_highlight;
		margin: 0;
		padding: 3px 5px;
		color: #EEE;
		transform: translatex(-50%);
	}
	div {
		height: $alto_max_viewport - 15;
		margin:0; padding:0;
		border-left:1px solid $color_highlight;
	}
}
.fichaPrograma {
	position: absolute;
	z-index: 100;
	top: $alto_barrahoras;
	right: -$pixelsPorHora;
	width: $pixelsPorHora;
	height: $alto_max_viewport;
	padding:15px 0 15px 15px;
	border-left: 1px solid #000;
	background-color: $color_fondo;
	@include box-shadow(rgba(black, 0.6) 0 -4px 16px);

	.cierra {
		position: absolute;
		top: 10px; right: 3px;
		padding: 3px 5px;
		z-index:10;
		font-family: $font_5;
		font-size: 16px;
		font-weight: 400;
		color: #CCC;
		cursor: pointer;
		outline: none;
		transition: all 300ms ease;

		&:hover {
			color: darken(#CCC, 20);
		}
	}
	.contenido {
		width: 100%;
		height:100%;

		.verFicha {
			display:block;
			font-family: $fuentes-cuerpo;
			font-size: 12px;
			width:95%;
			margin: 15px 15px 15px 0;
			padding: 3px 5px;
			color: white;
			border: 1px solid lighten($color_fondoclaro,20);
			background-color: $color_fondoclaro;
			@include border-radius(5px);
			text-align: center;
			text-decoration: none;
			outline: none;

			&:hover {
				color: darken($color_fondoclaro,20);
				background-color: white;
				border: 1px solid darken($color_fondoclaro,20);
			}
		}

		.contFoto,
		.contDescripcion {
			display: inline-block;
			float:left;
			margin:0 10px 0 0;
		}

		.contFoto {
			width: 100px;

			img {
				width: 100px;
				height: auto;
				max-height: 150px;
			}
			p {
				font-family: $fuentes-peq;
				font-size: 12px;
				margin:0 0 2px 0;
				padding:0;
				line-height: 14px;
				color: white;
				.canal {
					color: $color_fondoclaro;
					text-transform: uppercase;
				}
			}
		}
		.contDescripcion {
			width: 185px;
			margin:0 0 0 0;
			font-family: $fuentes-cuerpo;
			font-size: 12px;

			/** opciones nanoScroller **/
			.nano {
				// position:absolute;
				// top:10px; left:10px;
				width: 100%; height: 215px;
				// z-index:5;
				overflow: hidden;
			}
			.nano .nano-content { padding-right: 15px; }
			.nano .nano-pane   {
				margin-top:18px;
				height: 197px;
				background-color: rgba(0,0,0,.4);
			}
			.nano .nano-slider { width:8px; background-color: rgba(255,255,255,.3); }

			.ficha {

				.categoria {
					font-family: $fuentes-peq;
					font-size: 12px;
					color: white;
					margin:0; padding:0;
					margin-bottom: 10px;

					&.mCine {
						color: $color_cine;
					}
					&.mConcursos {
						color: $color_concursos;
					}
					&.mCorazon {
						color: $color_corazon;
					}
					&.mDeportes {
						color: $color_deportes;
					}
					&.mInformativos {
						color: $color_informativos;
					}
					&.mMagazines {
						color: $color_magazines;
					}
					&.mSeries {
						color: $color_series;
					}
				}


				h3,
				h4 {
					display:block;
					font-family: $fuentes-cuerpo;
					font-size: 12px;
					font-weight: 400;
					color: #FFF;
					margin:0; padding:0;
					margin-bottom: 3px;
				}
				h4 {
					font-weight: 600;
					margin-bottom: 3px;
					color: lighten($color_fondoclaro, 20);
				}
				.genero {
					color: #DDD;
					font-size: 10px;
					font-style: italic;
					margin-bottom: 15px;
				}
				p {
					font-family: $fuentes-cuerpo;
					font-size: 12px;
					margin:0 0 8px 0;
					padding:0;
					line-height: 14px;
					color: white;
				}
			}
		}
		.contPubli {
			width:300px;
			height:250px;
			margin-left:-5px;
			border:1px red dotted;
		}
	}
}
.selectorDias {
	display: block;
	background-color: $color_fondo;
	text-align: center;

	ul {
		display: table;
		width:100%;
		padding: 0;
		list-style: none;
		text-align: justify;
		font-size: 0.1px; /* IE 9/10 don't like font-size: 0; */

		li {
			display: table-cell;
			cursor: pointer;
			margin: 0 16px 0 0;

			a {
				@extend %pastillaGrisClaro;
				display: block;
				font-family: $fuentes-peq;
				font-size: 12px;
				text-decoration: none;
				text-align: center;
				margin:8px 15px 3px;
				color: #CCC;
			}
			&.activo,
			&:hover {
				background-color: $color_fondo;

				& a {
					color: $color_highlight;
					background-color: $color_fondo;
					@include box-shadow(rgba(black, 0) 0 0 0);
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.botonesCanales {
	display:inline-block;
	float:left;
	width: $ancho_barra_canales;
	margin-right: 5px;
	min-height: 54px;

	.btn {
		@extend %pastillaGrisClaro;
		display: block;
		padding: 5px 16px;
		margin-bottom:1px;
		text-transform: uppercase;
		color:white;
		cursor:pointer;

		&:hover {
			background-color: $color_highlight;
		}
	}
}
.selectorCategorias {
	display:inline-block;
	float:left;
	background-color: $color_fondo;

	ul {
		display: inline-block;
		padding: 0;
		@include box-shadow(rgba(black, 0.6) 0 4px 16px);

		li {
			display: inline-block;
			float:left;
			margin:0;
			list-style: none;

			font-family: $fuentes-peq;
			font-size: 11px;
			text-align: center;
			text-transform: uppercase;
			padding:17px 16px;
			cursor:pointer;
			color: white;
			transition: all 300ms ease;
			outline: none;
			border: none;
			@include box-shadow(rgba(black, 0.4) -4px 0 16px);
			background-color: $color_fondoclaro;
			&:hover {
				background-color: darken(#CCC, 20);
			}

			&.mCine.activo {
				background-color: $color_cine;
				&:hover {
					background-color: darken($color_cine, 20);
				}
			}
			&.mConcursos.activo {
				background-color: $color_concursos;
				&:hover {
					background-color: darken($color_concursos, 20);
				}
			}
			&.mCorazon.activo {
				background-color: $color_corazon;
				&:hover {
					background-color: darken($color_corazon, 20);
				}
			}
			&.mDeportes.activo {
				background-color: $color_deportes;
				&:hover {
					background-color: darken($color_deportes, 20);
				}
			}
			&.mInformativos.activo {
				background-color: $color_informativos;
				&:hover {
					background-color: darken($color_informativos, 20);
				}
			}
			&.mMagazines.activo {
				background-color: $color_magazines;
				&:hover {
					background-color: darken($color_magazines, 20);
				}
			}
			&.mSeries.activo {
				background-color: $color_series;
				&:hover {
					background-color: darken($color_series, 20);
				}
			}
		}
	}
}
.suscribirCanales {
	@extend %pastillaGrisClaro;
	float:left;
	width: 176px;
	height:100%;
	margin-right: 5px;
	padding: 12px 16px 11px;
	text-transform: uppercase;
	cursor:pointer;
	@include box-shadow(rgba(black, 0.6) 0 4px 16px);

	&:hover {
		background-color: $color_highlight;
		color: white;
	}
	&.activo {
		background-color: $color_fondo;
		color: $color_highlight;
		@include box-shadow(rgba(black, 0) 0 0 0);
	}
}

// Selector de Canales para añadir
.selectorCanales {
	position: relative;
	// overflow: hidden;
	width: $ancho_max_viewport;
	height: 530px;
	// max-height: 510px;
	margin: 0; padding: 0;

	h4.titular {
		font-family: $fuentes-peq;
		font-size: 11px;
		text-transform: uppercase;
		padding-bottom:5px;
		margin-bottom: 15px;
		color:white;
		border-bottom: 1px solid white;
	}

	.barraLetras,
	.ordenCanales {
		position: relative;
		display: inline-block;
		float:left;
		height: 350px;
		padding: 15px;
		background-color: $color_fondo;
		color: white;

		.check {
			display:inline-block;
			position:relative;
			float:left;
			width: 13px;
			height: 13px;
			margin-top: -2px;
			margin-right: 5px;
			border: 1px solid white;

			&:after {
				content: '';
				width: 12px;
				height: 6px;
				position: absolute;
				border: 2px solid #eee;
				border-top: none;
				border-right: none;
				background: transparent;
				@include opacity( 0.1 );
				@include transform( rotate(-60deg) );
			}
			&.sel:after {
				@include opacity( 0.9 );
			}
		}
	}
	.barraLetras{
		width: $ancho_max_viewport - 250;
		height: 97%;
		border-left: 1px solid $color_fondoclaro;

		.listaLetras {
			display:inline-block;
			float:left;
			list-style: none;
			margin:0 0 15px 0; padding:0;

			li.itemLetra {
				display: inline-block;
				width:25px; height:25px;
				padding-top:5px;
				font-family: $fuentes-peq;
				font-size: 14px;
				text-align: center;
				color:white;
				cursor: pointer;

				&:hover,
				&.activo {
					background-color: $color_highlight;
				}
			}
		}
		.buscador {

			display:inline-block;
			float:right;


			input[type='text'] {
				display: inline-block;
				float: left;
				width: 150px;
				height:20px;
				padding: 3px 5px;
				font-size: 11px;
				color: $color_fondo;
				border: none;
				@include border-radius(5px 0 0 5px);

				& + .fa {
					height:20px;
					margin:0;
					padding: 5px 5px;
					font-size: 10px;
					color: $color_fondo;
					background-color: white;
					border-left:1px solid $color_fondo;
					@include border-radius(0 5px 5px 0 );
					cursor: pointer;
				}
			}
		}

		/** opciones nanoScroller **/
		.nano {
			position:relative;
			width: 100%;
			height: 425px;
			overflow: hidden;
		}
		.nano .nano-content { }
		.nano .nano-pane   { background-color: rgba(0,0,0,.4); }
		.nano .nano-slider { width:8px; background-color: rgba(255,255,255,.3); }

		ul.listaCanales {
			list-style: none;
			height:100%;

				.itemCanal {
					position:relative;
					display:inline-block;
					width: 175px;
					cursor: pointer;
					margin: 0 10px 5px 0;
					padding: 5px;
					color: #EEE;
					font-size: 12px;
					border-bottom: 1px dotted #666;

					&:hover {
						color: $color_highlight;
					}
				}
		}
	}
	.ordenCanales {
		width:250px;

		p {
			font-family: $fuentes-cuerpo;
			font-size: 12px;
			line-height: 14px;
			color: white;
			margin: 15px 0 5px;
		}

		button {
			display:inline-block;
			width: 48%;
			& + button {
				float: right;
			}
		}
		input[type='text'] {
			display: inline-block;
			float: left;
			width: 48%;
			padding: 3px;
			margin-right: 5px;
			font-size: 11px;
			color: $color_fondo;
			& + button {
				float: right;
			}
		}

		/** opciones nanoScroller **/
		.nano {
			position:relative;
			width: 100%;
			height: 285px;
			overflow: hidden;
		}
		.nano .nano-content { padding-right: 10px; }
		.nano .nano-pane   { background-color: rgba(0,0,0,.4); }
		.nano .nano-slider { width:8px; background-color: rgba(255,255,255,.3); }

		ul.orden {
			display:block;
			height: 100%;
			list-style: none;

			li {
				position:relative;
				display:block;
				cursor: pointer;
				width: 200px;
				margin: 0 0 5px 0;
				padding: 5px;
				color: #EEE;
				font-size: 12px;
				border-bottom: 1px dotted $color_fondoclaro;

				img {
					float: left;
					width:20px; height:auto;
				}

				&.dragged {
					position: absolute;
					top: 0;
					opacity: .5;
					z-index: 2000;
				}
			}
			li.placeholder {
				min-height: 25px;
			    &:before {
			        position: absolute;
			        content: "";
			        width: 0;
			        height: 0;
			        margin-top: -5px;
			        left: -5px;
			        top: -4px;
			  	}
			}
		}
	}
}
body.dragging, body.dragging * {
  cursor: move !important;
}